.btn-blue {
	background-color: blue;
	padding: 10px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	size: 50px;


}

a:hover {
	background-color: yellow;
}