.cards {
	display: flex;
	
	
}


.card {
  display: flex;
  
  flex-basis: 280px;
  align-items: center;
  justify-content: space-between;
  width: 850px;
	padding: 20px;
	border-radius: 4px;                        
	box-shadow: 0 10px 30px rgba(0,0,0,0.8);
	border-top: 20px;
	border-radius: 6px;
	margin: 30px;
	
	

}
.card img {
  width: 225px;
  border-radius: 6px;
  height: 200px;


}

.card p {
	align-content: justify;
	flex-wrap: wrap;
}


.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-family: 'Libre Baskerville', serif;
}